.row{
    margin-left: 70px;
}

.myimg{
    
    border-radius: 50%;
    width: 200px;
    

}
.background{
    background-color: #79c2fa;
}

#cv-form{
    /*display: none; */
}
#cv-template{
    display: none;
}
body{
    background: url('img/abstract-blue-geometric-shapes-background_1035-17545.webp');
}
#print{
    background-color: #79c2fa;
}
